@charset "utf-8";
/*===================================================================================================
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 

〇 HEADER 〇

□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
====================================================================================================*/

header{
    overflow: hidden;
    font-family: "Zen Kaku Gothic New";
    nav{
        position: relative;
        box-shadow: rgba(86, 139, 114, 0.2) 0 2px 9px 0;
        background: #ffffff;
        &::before{
            content: "";
        position: absolute;
        left: 0;
        top: 0;
        background: $grade-color;
        width: 100%;
        height: 5px;
        }
        .inner{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1920px;
            margin: 0 auto 0;
            padding: 25px 2% 20px 2%;
            .left{
                display: flex;
                align-items: center;
                .logo{
                    display: flex;
                    align-items: center;
                    line-height: 1.1;
                    .icon{
                        width: 50px;
                        height: auto;
                        }
                        span{
                            font-family: "Jost";
                            font-weight: 600;
                            background: $grade-color;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 45px;
                            padding: 0 0 0 10px;
                        }
                    }
                h1{
                    color: #1a859f;
                    font-family: "Noto Sana JP";
                    font-weight: 500;
                    line-height: 1.2;
                    letter-spacing: 2px;
                    font-size: 14px;
                    padding: 7px 0 0 20px;
                }
            }
            .right{
                .button{
                    display: inline-block;
                    border-radius: 100px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
                    background: $orange-grade-color;
                    padding: 5px 50px 10px 50px;
                    .sub{
                        text-align: center;
                        margin: 0 0 0 0;
                        p{
                            display: inline-block;
                            border: solid 2px #e97a21;
                            border-radius: 100px;
                            background: #ffffff;
                            padding: 0 30px 0 30px;
                            span{
                                font-weight: 700;
                                background: $orange-grade-color;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                font-size: 15px;
                            }
                        }
                    }
                    .main{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 3px 0 0 0;
                        .icon{
                            width: 25px;
                            height: auto;
                        }
                        p{
                            color: #ffffff;
                            font-weight: 700;
                            font-size: 20px;
                            padding: 0 10px 0 10px;
                        }
                        .arrow{
                            width: 20px;
                            height: auto;                            
                        }
                    }
                }
            }
        }
    }
    .first-view{
        position: relative;
        background-image: radial-gradient(at 87% 78%, hsla(168,68%,86%,1) 0px, transparent 50%),
radial-gradient(at 19% 43%, hsla(120,100%,98%,1) 0px, transparent 50%),
radial-gradient(at 80% 100%, hsla(132,87%,96%,1) 0px, transparent 50%);
background-color: hsla(70,64%,96%,1);
        padding: 50px 0 60px 0;
        .back{
            position: absolute;
            z-index: 1;
            display: inline-block;
            font-family: "Antonio";
            line-height: 1.0;
            opacity: 0.1;
            background: $grade-color;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            mix-blend-mode: multiply;
            letter-spacing: 7px;
            font-size: 98px;
            &.left-top{
                left: 0;
                top: 0;
            }
            &.right-bottom{
                right: 0;
                bottom: 0;
            }
        }
        .inner{
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row-reverse;
            max-width: 1920px;
            margin: 0 auto 0;
            padding: 0 5% 0 5%;
            .text{
                padding: 0 80px 0 0;
                h3{
                    display: flex;
                    align-items: center;
                    &::before{
                        content: "";
                        background: $grade-color;
                        width: 100px;
                        height: 2px;
                    }
                    .catch{
                        display: inline-block;
                        background: $grade-color;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 24px;
                        padding: 0 0 0 10px;
                    }
                }
                h2{
                    .line{
                        transform: skew(-10deg);
                        .catch{
                            position: relative;
                            display: inline-block;
                            background: $grade-color;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 53px;
                            .small{
                                font-size: 0.75em;
                            }
                            &::before{
                                content: "";
                                position: absolute;
                                opacity: 0.3;
                                left: 0;
                                bottom: 10px;
                                background: $grade-color;
                                width: 100%;
                                height: 9px;
                            }
                        }
                    }
                    .line02{
                        display: flex;
                        align-items: center;
                        margin: 10px 0 0 0;
                        .square{
                            display: inline-block;
                            line-height: 1.1;
                            border: solid 4px #2287ac;
                            padding: 2px 24px 5px 24px;
                            .fade-text{
                                opacity: 1;                     
                                background: $grade-color;
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                letter-spacing: 2px;
                                font-size: 49px;
                                transition: opacity 0.5s ease;
                                &.hidden{
                                    opacity: 0;
                                }
                            }
                        }
                        .plane{
                            display: inline-block;
                            transform: skew(-10deg);
                            background: $grade-color;
                            background-clip: text;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 53px;
                            .small{
                                font-size: 0.75em;
                            }
                        }
                    }
                }
                .category{
                    display: flex;
                    align-items: center;
                    margin: 20px 0 0 0;
                    li{
                        overflow: hidden;
                        position: relative;
                        color: #ffffff;
                        font-weight: 700;
                        box-shadow: rgba(45, 105, 91, 0.2) 0 7px 29px 0;
                        background: linear-gradient(45deg, #09828b, #3c9ecc);
                        letter-spacing: 2px;
                        font-size: 25px;
                        margin: 0 10px 0 0;
                        padding: 2px 20px 2px 20px;
                        &::before{
                            content: "";
                            position: absolute;
                            left: -100%;
                            top: 0;
                            opacity: 0.6;
                            transform: skewX(-30deg);
                            background: linear-gradient(
                                120deg,
                                rgba(255, 255, 255, 0) 0%,
                                rgba(255, 255, 255, 0.8) 50%,
                                rgba(255, 255, 255, 0) 100%,
                            );
                            mix-blend-mode: overlay;
                            width: 150%;
                            height: 100%;
                            animation: shine 4s infinite forwards;
                        }
                        @keyframes shine {
                            0% {
                                left: -150%;
                            }
                            50% {
                                left: 150%;
                            }
                            100% {
                                left: 150%;
                            }
                        }
                        &:last-child{
                            margin: 0 0 0 0;
                        }
                    }
                }
                .sentence{
                    margin: 20px 0 0 0;
                    p{
                        color: #41767f;
                        font-family: "Noto Sans JP";
                        font-weight: 500;
                        line-height: 1.8;
                        letter-spacing: 2px;
                        font-size: 20px;
                        br{
                            &.br01{
                                display: none; 
                            }
                            &.br02{
                                display: block;
                            }

                            &.br03{
                                display: none;
                            }
                        }                 
                    }
                }
                .feat{
                    margin: 20px 0 0 0;
                    ul{
                        display: flex;
                        li{
                            display: flex;
                            align-items: center;
                            margin: 0 15px 0 0;
                            img{
                                width: 50px;
                                height: auto;
                            }
                            p{
                                display: inline-block;
                                line-height: 1.1;
                                background: linear-gradient(45deg, #b7812b, #d98c29);
                                background-clip: text;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-align: center;
                                font-size: 20px;
                                .number{
                                    font-family: "jost";
                                    font-size: 55px;
                                }
                                .middle{
                                    font-size: 1.2em;
                                }
                                .kome{
                                    font-size: 0.6px;
                                }
                            }
                            &:last-child{
                                margin: 0 0 0 0;
                            }
                        }
                    }
                    .caution{
                        color: #a8bdbe;
                        font-size: 13px;
                        margin: 30px 0 0 0;
                    }
                }
            }
            .splide{
                width: 730px;
                position: relative;
                .badge{
                    position: absolute;
                    z-index: 12;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    right: -40px;
                    top: -40px;
                    width: 180px;
                    height: 180px;
                    &::before{
                        content: "";
                        position: absolute;
                        z-index: 2;
                        opacity: 0.4;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%,-50%);
                        border: solid 3px #ffffff;
                        border-radius: 50%;
                        width: calc(100% - 20px);
                        height: calc(100% - 20px);
                    }
                    .bg{
                        position: absolute;
                        z-index: 1;
                        opacity: 0.92;
                        left: 50%;
                        top: 50%;
                        width: 100%;
                        height: 100%;
                        animation: rotate 12s linear infinite;
                        @keyframes rotate {
                            from {
                                transform: translate(-50%, -50%) rotate(0deg);
                            }
                            to{
                                transform: translate(-50%, -50%)rotate(360deg);
                            }
                        }
                    }
                    .cover{
                        position: relative;
                        z-index: 3;
                        text-align: center;
                        .semi{
                            display: inline-flex;
                            align-items: center;
                            border-radius: 80px;
                            background:#ffffff;
                            padding: 3px 15px 3px 15px;
                            img{
                                width: 14px;
                            }
                            span{
                               color: #09828b;
                               font-size: 16px;
                               padding: 0 3px 0 3px; 
                            }
                        }
                        .line{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: #ffffff;
                            margin: 10px 0 0 0;
                            .tate{
                                writing-mode: vertical-rl;
                                letter-spacing: 2px;
                                text-align: center;
                                font-size: 22px;
                            }
                            .number{
                                font-family: "Jost";
                                line-height: 1.1;
                                letter-spacing: -1px;
                                font-size: 43px;
                            }
                            .en{
                                font-family: "Jost";
                                font-size: 28px;
                            }
                            &.line02{
                                margin: 0 0 0 0;
                            }
                        }
                    }
                }
                .splide__track{
                    width: 100%;
                    .splide__list{
                        width: 100%;
                        .splide__slide{
                            position: relative;
                            box-shadow: rgba(45, 105, 91, 0.2) 0 7px 29px 0;
                            width: 100%;
                            height: 450px;
                            .thumb{
                                overflow: hidden;
                                position: relative;
                                line-height: 0;
                                width: 100%;
                                height: 100%;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    z-index: 2;
                                    opacity: 0.9;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%,-50%);
                                    border: solid 6px #09828b;
                                    width: calc(94% + 8px);
                                    height: 94%;
                                }
                                img{
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .en{
                                position: absolute;
                                z-index: 12;
                                color: #09828b;
                                font-family: "Reenie Beanie";
                                left: 50%;
                                bottom: 0;
                                letter-spacing: 2px;
                                white-space: nowrap;
                                font-size: 60px;
                                opacity: 1.0;
                                transform: translate(-50%, -150px) rotate(-3deg);
                            }
                            .line{
                                position: absolute;
                                z-index: 20;
                                text-align: center;
                                width: 100%;
                                p{
                                    display: inline-block;
                                    font-weight: 700;
                                    letter-spacing: 3px;
                                    font-size: 23px;
                                    padding: 5px 45px 5px 55px;
                               }
                               &.line01{
                                left: 50%;
                                bottom: 0;
                                transform: translate(calc(-50% - 40px), -100px) rotate(-5deg);
                                p{
                                    color: #09828b;
                                    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
                                    background: #ffffff;
                                }
                               }
                               &.line02{
                                left: 50%;
                                bottom: 0;
                                transform: translate(calc(-50% + 40px), -55px) rotate(-5deg);
                                p{
                                    color: #ffffff;
                                    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
                                    background: $grade-color;
                                }
                                }
                            }
                        }
                    }
                }
            }
         }
     }
}

/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 1281px～1440px(中型ノートPC向け)までのモニタで適用	◆

start----------------------------------------------------------------------------*/


@media screen and (min-width: 1281px) and (max-width: 1440px) {
} /* 1281px～1440px responsive-close */



/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 1024px～1280px(小型PC)までのモニタで適用	◆

start----------------------------------------------------------------------------*/

@media screen and (min-width: 1024px) and (max-width: 1280px) {
} /* 1024px～1280px responsive-close */



/**********************************************************************************
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □  

◆	Stylesheet: 768px～1023px(iPad縦からiPad横)までのモニタで適用	◆

start----------------------------------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
} /* 768px～1023px responsive-closed */

/*end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/


/**********************************************************************************
 □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 

◆	Stylesheet: 767pxまで(スマホ)のモニタで適用	◆

□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
start----------------------------------------------------------------------------*/
@media screen and (max-width: 767px) {
} /* 767px responsive-closed */

/*end ----------------------------------------------------------------------------
□ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ □ 
**********************************************************************************/



